<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Courses</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Courses List</h1>

<ul>
    <li th:each="course : ${courses}">
        <p>Course Name: <span th:text="${course.name}"></span></p>
        <p>Registration Fee: <span th:text="${course.registrationFee}"></span></p>
        <p>Course Fee: <span th:text="${course.courseFee}"></span></p>
    </li>
</ul>
<div class="text-center mt-4">
    <a href="/students" class="btn btn-primary btn-block">Home</a>
    <a href="/courses/add" class="btn btn-secondary">Add New Course</a>
</div>


<!-- Bootstrap JS, Popper.js, and jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>